name: Forecast on new AI tournament questions

on:
  workflow_dispatch:
  schedule:
    - cron: "*/20 * * * *" # runs every 20 minutes

# Add concurrency group to prevent parallel runs
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false


jobs:
  forecast_job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run bot on AIB tournament
        run: uv run forecast tournament aib
        env:
          METACULUS_TOKEN: ${{ secrets.METACULUS_TOKEN }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          EXA_API_KEY: ${{ secrets.EXA_API_KEY }}
          ASKNEWS_CLIENT_ID: ${{ secrets.ASKNEWS_CLIENT_ID }}
          ASKNEWS_SECRET: ${{ secrets.ASKNEWS_SECRET }}

      - name: Run bot on MiniBench
        run: uv run forecast tournament minibench
        env:
          METACULUS_TOKEN: ${{ secrets.METACULUS_TOKEN }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          EXA_API_KEY: ${{ secrets.EXA_API_KEY }}
          ASKNEWS_CLIENT_ID: ${{ secrets.ASKNEWS_CLIENT_ID }}
          ASKNEWS_SECRET: ${{ secrets.ASKNEWS_SECRET }}
